<!-- PANTALLA DE SELECCION DE PACIENTE -->
<div class="main-container" [ngClass]="{'dark-bg': isDarkUI}">
<div *ngIf="step===0" class="animated fadeIn faster">
  <div [ngClass]="{'white-text': isDarkUI}" class="container-title">Paciente</div>
  <div class="buttons-container">
    <div class="info-container lilac-bg" mat-raised-button disabled>
      <img src="assets/patient/past_patient.svg">
      <p class="lightgrey-text">Se retomará la configuración del último paciente.</p>
      <button class="blue-bg" mat mat-raised-button disabled>Anterior</button>
    </div>
    <div class="info-container lilac-bg" >
      <img src="assets/patient/new_patient.svg">
      <p class="lightgrey-text">Configura parámetros para un nuevo paciente.</p>
      <button (click)="onNewPressed()" class="blue-bg" mat-raised-button>Nuevo</button>
    </div>

  </div>
</div>


<!-- PANTALLA DE CONFIGURACIÓN DE NUEVO PACIENTE -->

<div *ngIf="step===1" class="animated fadeIn faster">
  <div [ngClass]="{'white-text': isDarkUI}" class="container-title">Paciente</div>
  <div class="controls-container">
    <div matRipple class="male-section">
      <div (click)="sexSelected=0">
        <img *ngIf="isDarkUI" src="assets/patient/male_dark.png">
        <img *ngIf="!isDarkUI" src="assets/patient/male_light.png">
      </div>
    </div>
    <div class="menu-section">
      <div id="params-container">
        <div class="tabs">
          <div (click)="onTabPressed(0)" [ngClass]="{'active-tab': patientTabSelected===0}" class="param-tab">Altura</div>
          <div (click)="onTabPressed(1)" [ngClass]="{'active-tab': patientTabSelected===1}" class="param-tab">Perfil</div>
        </div>
        <div [ngClass]="{'params-control-container-left': patientTabSelected===0, 'params-control-container-right': patientTabSelected===2}" class="params-control-container">
          <div class="controls-container-position">
            <div *ngIf="patientTabSelected===0">
              <div><button (click)="subsHeight()" mat-raised-button class="control-btn"><fa-icon [icon]="minusIcon"></fa-icon></button></div>
              <div class="param-value">{{height | number:'1.2-5'}}<br><em>m</em></div>
              <div><button (click)="addHeight()" mat-raised-button  class="control-btn"><fa-icon [icon]="plusIcon"></fa-icon></button></div>
            </div>
            <div *ngIf="patientTabSelected===1">
              <div><button mat-raised-button [ngClass]="{'gray-bg': profile===0}" (click)="profile = 0" class="profile-btn">Adulto</button></div>
              <div><button mat-raised-button [ngClass]="{'gray-bg': profile===1}" (click)="profile = 1" class="profile-btn right-profile-btn">Infante</button></div>
            </div>
          </div>
        </div>
      </div>
      <div id="confirmation-container">
        <div class="summary">
          <em>Resumen</em><br>
          Sexo: {{getSexDescription()}}<br>
          Altura: {{height | number:'1.2-5'}} m<br>
          P. Predicho: {{height*100 - 100 | number:'1.1-5'}} kg <br>
          Perfil: {{getProfileDescription()}}
        </div>

        <button *ngIf="isContinuePosible()" class="confirm-btn" (click)="onConfirm()" mat-raised-button>Confirmar</button>
      </div>
    </div>
    <div matRipple class="female-section">
      <div (click)="sexSelected=1">
        <img *ngIf="isDarkUI" src="assets/patient/female_dark.png">
        <img *ngIf="!isDarkUI" src="assets/patient/female_light.png">
      </div>
    </div>
  </div>
</div>


<!-- PANTALLA DE SELECCION DE MODO -->
<div *ngIf="step===2" class="animated fadeIn faster">
  <div class="container-title">Configuración</div>
  <div class="conf-title">Modo</div>
  <div class="conf-btn-container">
    <button [ngClass]="{'gray-bg': mode===0}" (click)="onChangeMode(0)" mat-raised-button disabled>Asistido</button>
    <button [ngClass]="{'gray-bg': mode===1}" (click)="onChangeMode(1)" mat-raised-button>Controlado</button>
  </div>
</div>


<!-- PANTALLA DE CONFIGURACIÓN DE MODO -->
<div *ngIf="step===3" class="animated fadeIn faster">
  <div class="container-title">Configuración</div>
  <div class="conf-params-title">Variantes modo controlado</div>
  <div class="conf-container">
    <div class="tabs">
      <div (click)="onConfTabPressed(0)" [ngClass]="{'conf-active-tab': configTabSelected===0}" class="param-tab">Tiempo</div>
      <div (click)="onConfTabPressed(1)" [ngClass]="{'conf-active-tab': configTabSelected===1}" class="param-tab">Volumen</div>
      <div (click)="onConfTabPressed(2)" [ngClass]="{'conf-active-tab': configTabSelected===2}"  class="param-tab">Flujo</div>
      <div (click)="onConfTabPressed(3)" [ngClass]="{'conf-active-tab': configTabSelected===3}"  class="param-tab">Vol. max. e/min</div>
    </div>
    <div [ngClass]="{'params-control-container-left': configTabSelected===0, 'params-control-container-right': configTabSelected===3}" class="conf-params-control-container">
      <div class="conf-controls-container-position">
        <div *ngIf="configTabSelected===0">
          <table>
            <tr>
              <td style="width: 24%;">
                <button class="time-type-btn" (click)="timeSelected = 0" [ngClass]="{'gray-bg': timeSelected===0}" mat-raised-button>Frecuencia</button>
              </td>
              <td rowspan="2">
                <div *ngIf="timeSelected === 0">
                  <div><button (click)="changeFreq(false)" mat-raised-button class="control-btn"><fa-icon [icon]="minusIcon"></fa-icon></button></div>
                  <div class="param-value">{{freq | number}}<br><em>rpm</em></div>
                  <div><button (click)="changeFreq(true)" mat-raised-button  class="control-btn"><fa-icon [icon]="plusIcon"></fa-icon></button></div>
                </div>
                <div *ngIf="timeSelected === 1">
                  <div><button (click)="changeIE(false)" mat-raised-button class="control-btn"><fa-icon [icon]="minusIcon"></fa-icon></button></div>
                  <div class="param-value">1:{{ie | number}}<br><em>I:E</em></div>
                  <div><button (click)="changeIE(true)" mat-raised-button  class="control-btn"><fa-icon [icon]="plusIcon"></fa-icon></button></div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <button class="time-type-btn" (click)="timeSelected = 1" [ngClass]="{'gray-bg': timeSelected===1}" mat-raised-button>Ti:Te</button>
              </td>
            </tr>
          </table>
        </div>
        <div *ngIf="configTabSelected===1">
          <div><button (click)="changeVolumen(false)" mat-raised-button class="control-btn"><fa-icon [icon]="minusIcon"></fa-icon></button></div>
          <div class="param-value">{{vol | number}}<br><em>mL/Kg</em></div>
          <div><button (click)="changeVolumen(true)" mat-raised-button  class="control-btn"><fa-icon [icon]="plusIcon"></fa-icon></button></div>
        </div>
        <div *ngIf="configTabSelected===2">
          <div><button (click)="changeFlow(false)" mat-raised-button class="control-btn"><fa-icon [icon]="minusIcon"></fa-icon></button></div>
          <div class="param-value">{{flow | number}}<br><em>mL/min</em></div>
          <div><button (click)="changeFlow(true)" mat-raised-button  class="control-btn"><fa-icon [icon]="plusIcon"></fa-icon></button></div>
        </div>
        <div *ngIf="configTabSelected===3">
          <div><button (click)="changeVolMaxMin(false)" mat-raised-button class="control-btn"><fa-icon [icon]="minusIcon"></fa-icon></button></div>
          <div class="param-value">{{volMaxMin | number}}<br><em>L/min</em></div>
          <div><button (click)="changeVolMaxMin(true)" mat-raised-button  class="control-btn"><fa-icon [icon]="plusIcon"></fa-icon></button></div>
        </div>
      </div>
    </div>
  </div>
  <div class="continue-container">
    <button mat-raised-button (click)="step = 4" class="confirm-btn">Continuar</button>
  </div>
</div>

<!-- PANTALLA DE RESUMEN -->
<div *ngIf="step===4" class="animated fadeIn faster">
  <div class="container-title">Resumen paciente</div>
  <div class="summary-controls-container">
    <div class="summary-left-panel">
      <div>
        Sexo: {{getSexDescription()}}<br>
        Altura: {{height | number:'1.2-5'}}<br>
        P. Predicho: {{(height - 1) * 100}} <br>
        Perfil: {{getProfileDescription()}}
      </div>
      <div>
        <div><button mat-raised-button>Editar paciente</button></div>
        <div><button mat-raised-button>Cambiar Modo</button></div>
        <div><button mat-raised-button>Restablecer</button></div>
      </div>
    </div>
    <div class="summary-right-panel">
      <div class="summary-title">Modo controlado</div>
      <table>
        <tr>
          <td><button mat-raised-button class="summary-btn">Frecuencia<br><em>{{freq}}</em> rpm</button></td>
          <td><button mat-raised-button class="summary-btn">Ti:Te<br><em>1:{{ie}}</em></button></td>
          <td><button mat-raised-button class="summary-btn">VT/peso<br><em>{{vol}}</em> mL/Kg</button></td>
        </tr>
        <tr>
          <td><button mat-raised-button class="summary-btn">VT máx/i<br><em>12</em> </button></td>
          <td><button mat-raised-button class="summary-btn">VT max e<br><em>20</em> </button></td>
          <td><button mat-raised-button class="summary-btn">P. Meseta<br><em>15</em> min</button></td>
        </tr>
      </table>
      <button (click)="beginVent=true" id="summary-confirm" mat-raised-button class="confirm-btn">Confirmar</button>
    </div>
  </div>
</div>

<div *ngIf="beginVent" class="animated fadeIn faster confirm-vent">
  <div class="confirm-vent-container">
    <div>
      Se comenzará a ventilar al paciente.
    </div>
    <div>
      <button (click)="beginVent = false" mat-raised-button class="confirm-vent-btn">Cancelar</button>
      <button (click)="onConfirmVent()" mat-raised-button class="confirm-vent-btn gray-bg">Ok</button>
    </div>
  </div>
</div>




<!-- BACK BUTTON -->
<a (click)="onBack()" *ngIf="step>0" mat-raised-button id="back-btn"><fa-icon [icon]="backIcon"></fa-icon></a>
</div>
