.container-title{
  font-size: 24px;
  text-align: center;
  padding-top: 33px;
  margin-bottom: 20px;
  font-weight: 600;
}

.buttons-container{
  margin: 15vh auto 0;
  text-align: center;
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
}


.info-container{
  margin-left: 60px;
  margin-right: 60px;
  width: 178px;
  height: 251px;
  font-size: 12px;
  border-radius: 15px;
  text-align: center;
}

.info-container img{
  padding-top: 28px;
  padding-bottom: 22px;
}

.info-container p{
  width: 81.4%;
  margin: 0 auto;
  line-height: 1.5;
  padding-bottom: 23px;
  font-weight: 300;
}

.info-container button{
  width:146px;
  height: 52px;
  font-size: 20px;
  border-radius: 12px;
  box-shadow: -6px -6px 17px -2px rgba(255,255,255,1);
}



.buttons-container :disabled{
  font-size: 20px;
  background-color: #efefef;
  box-shadow: none;
}


/** PANTALLA CONFIGURACIÓN **/
.controls-container{
  width: 90%;
  height: 80vh;
  margin: 2vh auto 0;
  display: flex;
}

.male-section{
  width: 147px;
  height: 359px;
  border-radius: 20px;
  margin-right: 4%;
  text-align: center;
}

.male-section img{
  height: 359px;
}

.menu-section{
  width: 59%;
  margin-right: 4%;
}

.female-section{
  width: 147px;
  height: 359px;
  border-radius: 20px;
  overflow: hidden;
}

.female-section img{
  height: 359px;
}

#params-container{
  width: 100%;
  height: 60%;
}

#confirmation-container{
  width: 100%;
  height: 40%;
  display: flex;
}

.params-control-container{
  width: 426px;
  height: 68%;
  margin-top: -1px;
  border-radius: 20px;
  border: 1px solid #526FDC;
}

.params-control-container .isDarkUI{

}


.params-control-container-left{
  border-radius: 0 20px 20px 20px !important;
}

.params-control-container-right{
  border-radius: 20px 0px 20px 20px !important;
}

.tabs{
  display: flex;
}

.param-tab{
  color: #526FDC;
  text-align: center;
  font-size: large;
  line-height: 3;
  width: 35%;
  height: 53px;
  font-weight: 100;
  z-index: 1000;
  margin-right: -4px;
}

.active-tab {

  font-weight: 500;
  border-top: 1px solid #526FDC;
  border-left: 1px solid #526FDC;
  border-right: 1px solid #526FDC;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  z-index: 1001;
  background-color:white;
}

.controls-container-position{
  margin-top: 10vh;
  margin-left: 30px;
  margin-right: 30px;
}

.controls-container-position div{
  display: flex;
}

.control-btn{
  width: 120px;
  height: 70px;
  border-radius: 15px;
  background-color:  #B8C7FF;
  font-size: 30px;
  color: #526FDC;
}

.param-value{
  width: 66px;
  display:initial !important;
  margin-left: 30px;
  margin-right: 30px;
  margin-top:30px;
  font-size: 35px;
  text-align: center;
  color: #3D3D3D;
}

.param-value em{
  font-style: normal;
  line-height: 2;
  font-size: 24px;
  color: #6E6E6E;
}

.profile-btn{
  height: 70px;
  width: 170px;
  border-radius: 15px;
  font-size: 20px;
}

.right-profile-btn{
  margin-left: 28px !important;
}

.gray-bg{
  background-color: #D8D8D8 !important;
}


.body-img{
  text-align: center;
  height: 100%;
  width: 100%;
}

.body-img img{
  margin-top: 8vh;
}

.body-selected{
  background-color: #636363;
  filter:invert(100%);
  opacity: 57%;
}

.summary{
  width: 220px;
  height: 100%;
  margin-right: 30px;
  font-size: 18px;
  font-weight: lighter;
}

.summary em{
  font-weight: normal;
  font-size: 20px;
  font-style: normal;
  line-height: 2;
}

.confirm-btn{
  width: 190px;
  height: 100px;
  color: white;
  border-radius: 15px;
  font-size: 20px;
}

#back-btn{
  position: absolute;
  top: 21px;
  left: 33px;
  height: 40px;
  min-width: 40px !important;
  border-radius: 50px;
  font-size: 17px;
  line-height: 2.3;
}

.conf-title{
  font-size: 20px;
  color: #6E6E6E;
  width: 100%;
  text-align: center;
  margin-top: 20vh;
}

.op p{
  width: 83% !important;
}

.conf-btn-container{
  width: 100%;
  text-align: center;
  margin-top: 7vh;
}

.conf-btn-container button{
  width: 190px;
  height: 100px;
  color: #6E6E6E;
  border: 1px solid #979797;
  border-radius: 20px;
  background-color: white;
  font-size: 20px;

  margin-left: 50px;
  margin-right: 50px;
}


:disabled{
  color: #d2d2d2 !important;
  border-color: #d8d8d8 !important;
}

.conf-params-title{
  font-size: 20px;
  color: #6E6E6E;
  width: 100%;
  text-align: center;
  margin-top: 3vh;
  margin-bottom: 3vh;
  font-weight: lighter;
}

.conf-container{
  width: 92%;
  margin: 0 auto;
  height: 50vh;
}

.conf-params-control-container{
  width: 100%;
  height: 156px;
  background-color: white;
  margin-top: -1px;
  border-radius: 20px;
  border: 1px solid #979797;
}

.conf-active-tab{
  background-color: white;
  border-top: 1px solid #979797;
  border-left: 1px solid #979797;
  border-right: 1px solid #979797;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-right: -2px;
}

.continue-container{
  width: 92%;
  margin: 0 auto;
  text-align: right;
}

.conf-controls-container-position{
  margin: 0 auto;
  margin-top: 8vh;
}

.conf-controls-container-position div{
  display: flex;
  justify-content: center;
}

.conf-controls-container-position table{
  width: 95%;
  height: 156px;
  margin: 0 auto;
  margin-top: -8vh;
}

.time-type-btn{
  width: 145px;
  height: 50px;
  border-radius: 15px;
  background-color: white;
  color: #6E6E6E;
  font-size: 20px;
  border: 1px solid #979797;
  font-weight: normal;
}

.summary-controls-container{
  display: flex;
  height: 100vh;
}

.summary-left-panel{
  width: 180px;
  height: 100%;
  padding-left: 35px;
  padding-top: 90px;
  margin-right: 35px;
  font-size: 18px;
  color: #6E6E6E;
  line-height: 1.45;
  font-weight: lighter;
}

.summary-right-panel{
  width: 550px;
  height: 100%;
  text-align: right;
  background-color: white;
  border-radius: 24px 0 0 24px;
}

.summary-right-panel table{
  margin: 0 auto;
  width: 95%;
  text-align: center;
  height: 200px;
}

.summary-right-panel td{
  vertical-align: top;
}

.summary-btn{
  height: 70px;
  width: 145px;
  border-radius: 10px;
  color: #6E6E6E;
  font-size: 16px;
  line-height: 1.5;
}

.summary-btn em{
  font-style: normal;
  font-size: 24px;
  color: white;
}

.summary p{
  color: #6E6E6E;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.summary-title{
  margin-left: 30px;
  margin-top: 40px;
  font-size: 20px;
  color: #6E6E6E;
  width: 100%;
  text-align: left;
  margin-bottom: 12px;
  font-weight: lighter;
}


#summary-confirm{
  margin-top: 20px;
  margin-right: 30px;
}

.summary-left-panel button{
  width: 180px;
  height: 50px;
  font-size: 20px;
  border-radius: 12px;
  color: #6E6E6E;
  margin-top: 20px;
}

.confirm-vent{
  background-color: rgba(6,6,6,0.75);
  position: absolute;
  z-index: 9999;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}

.confirm-vent-container{
  margin:  85px auto 0;
  background-color: #f4f4f4;
  border-radius: 20px;
  width: 457px;
  height: 306px;
}

.confirm-vent-container div{
  font-size: 20px;
  color: #6E6E6E;
  padding-top: 62px;
  text-align: center;
}

.confirm-vent-btn{
  width: 190px;
  height: 100px;

  border-radius: 15px;
  font-size: 20px;
  color: #6E6E6E;
  margin: 15px;
}

#pause-shut{
  padding-top: 20px;
}

#pause-shut-btn{
  padding-top: 45px;
}

.summary-right-panel .container-title{
  text-align: left;
  margin-left: 30px;
}

.keyboard{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  z-index: 9999;
  background-color: #14263F;
  background-color: rgba(0,0,0,0.25);
}

.kb-container{
  width: 550px;
  height: 436px;
  background-color: white;
  margin: 22px auto 0;
  border-radius: 23px;
}


.digit{
  width: 119px;
  height: 52px;
  border-radius: 10px;
  font-weight: lighter;
  color: #6E6E6E;
  font-size: 20px;
  box-shadow: -6px -6px 12px 0px rgba(255,255,255,0.35);
}

.change-digit{
  width: 118px;
  height: 118px;
  font-weight: normal;
}

.cancel-digit{
  font-weight: normal;
  background-color: #F3E3C8;
}

.del-digit{
  background-color: #F3CEC8;
}

.digit fa-icon{
  font-size: 30px;
}

.kb-container table{
  width: 100%;
  text-align: center;
}

.kb-param-desc{
  width: 100%;
  text-align: center;
  padding-top: 24px;
  font-size: 19px;
  font-weight: normal;
  color: #6e6e6e;
}

.value-changer{
  width: 100%;
  display: flex;
  margin-top: 27px;
  justify-content: center;

}

.lilac-bottom-border{
  border-bottom: 1px solid #526FDC !important;
}

.value-changer #value{
  font-size: 36px;
  border-bottom: 1px solid #3d3d3d;
  width: 180px;
  height: 50px;
  text-align: center;
  line-height: 1.6;
  font-weight: bold;
  color: #3D3D3D;
}

#weight-value{
  font-size: 36px;
  line-height: 0;
  width: 180px;
  height: 50px;
  text-align: center;
  font-weight: bold;
  color: #3D3D3D;
}

.volume-alert{
  width: 457px;
  height: 390px;
  background-color: white;
  margin: 45px auto 0;
  border-radius: 23px;
}

.volume-info-container{
  margin: -20px auto 0;
  width: 400px;
  height: 89px;
  background-color: #C9D2F3;
  border-radius: 15px;
}

.volume-init{
  width: 100%;
  text-align: center;
  padding-top: 16px;
  font-size: 19px;
  font-weight: normal;
  color: #6e6e6e;
}

.volume-disclaimer{
  font-size: 15px;
  font-weight: lighter;
  padding-top: 15px;
  color: #6e6e6e;
  text-align: center;
}

.volume-ecuation{
  width: 100%;
  text-align: center;
  padding-top: 16px;
  font-size: 25px;
  font-weight: normal;
}

.value-changer #unit{
  font-size: 20px;
  height: 50px;
  line-height: 3;
  color: #3D3D3D;
}

#volume-predict{
  position: absolute;
  left: 340px;
  top: 72px;
}
#volume-warning{
  font-size: 19px;
  padding-top: 22px;
  width: 85%;
  margin: 0 auto;
  text-align: center;
  line-height: 29px;
}

#error-lbl{
  text-align: center;
  margin-top: 5px;
  color: red;
  margin-bottom: 40px;
}

#mod-icon{
  width: 24px;
  position: absolute;
  left: 744px;
  top: 136px;
}
.confirm-change-volume{
  width: 457px;
  height: 405px;
  background-color: white;
  margin: 45px auto 0;
  border-radius: 23px;
}

.confirm-change{
  width: 457px;
  height: 306px;
  background-color: white;
  margin: 91px auto 0;
  border-radius: 23px;
}



.confirm-change-buttons-container{
  text-align: center;
}

.confirm-change-btn{
  width: 181px;
  height: 118px;
  font-size: 20px;
  border-radius: 15px;
  margin: 15px;
}

#ventilating-status{
  position: absolute;
  top: 90px;
  right: 28px;
  font-weight: lighter;
  color: #636363;
}

#ventilating-status strong{
  font-weight: 500;
}


#theme-selection{
  position: absolute;
  top: 24px;
  left: 614px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 40px;
  user-select: none;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #E4EAF9;
  -webkit-transition: .4s;
  transition: .4s;

}

.slider:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  left: 0px;
  bottom: 0px;
  background-color: #B8C7FF;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #E4EAF9;
}

input:focus + .slider {
  user-select: none;
}

span{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input:checked + .slider:before {
  transform: translateX(50px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
  box-shadow: 6px 6px 12px 0 rgba(0,0,0,.2) !important;
}


#sun-icon{
  position: absolute;
  top: 29px;
  right: 151px;
  user-select: none;
  pointer-events: none;
}

#moon-icon{
  position: absolute;
  top: 29px;
  right: 99px;
  user-select: none;
  pointer-events: none;
}

#power-off{
  position: absolute;
  top: 24px;
  right: 28px;
  height: 40px;
  width: 40px;
  border-radius: 20px;
}
