<div class="animated fadeIn" [ngClass]="{'dark-bg': isDarkUI}">
  <table>
    <tr>
      <td>
        <img *ngIf="isDarkUI" [ngClass]="{'fadeOut slow': beginFade}" class="animated" src="assets/splash/tidal_logo_dark.png">
        <img *ngIf="!isDarkUI" [ngClass]="{'fadeOut slow': beginFade}" class="animated" src="assets/splash/tidal_logo_light.png">
      </td>
    </tr>
    <tr>
      <td class="row">
        <img *ngIf="isDarkUI" [ngClass]="{'fadeOut slow': beginFade}" class="animated logo" src="assets/splash/xlab_logo_dark.png">
        <img *ngIf="!isDarkUI" [ngClass]="{'fadeOut slow': beginFade}" class="animated fadeIn slower logo" src="assets/splash/xlab_logo_light.png">
      </td>
    </tr>
  </table>
</div>
