<div class="main-container">

  <!--  SECCIÓN DE INFORMACION  -->
  <div class="info-container">
    <div class="op-mode">
      <table>
        <tr><td>C</td></tr>
      </table>
    </div>
    <div class="current-params">
      <!--  PPeak  -->
      <div>
        <table>
          <tr><td class="td-title"><em>P</em>Peak</td></tr>
          <tr><td class="td-value">{{userInfo?.data.params.ppeak}}</td></tr>
          <tr><td class="td-detail">Cm H2O</td></tr>
        </table>
      </div>
      <!--  I:E  -->
      <div>
        <table>
          <tr><td class="td-title"><em>V</em>ol/min</td></tr>
          <tr><td class="td-value">{{userInfo?.data.params.volmin}}</td></tr>
          <tr><td class="td-detail"></td></tr>
        </table>
      </div>
      <!--  VR  -->
      <div>
        <table>
          <tr><td class="td-title"><em>V</em>te</td></tr>
          <tr><td class="td-value">{{userInfo?.data.params.vte}}</td></tr>
          <tr><td class="td-detail">ML/S</td></tr>
        </table>
      </div>

      <!--  VT  -->
      <div>
        <table>
          <tr><td class="td-title"><em>F</em>total</td></tr>
          <tr><td class="td-value">{{userInfo?.data.params.ftotal}}</td></tr>
          <tr><td class="td-detail">ML</td></tr>
        </table>
      </div>

      <!--  PEEP -->
      <div>
        <table>
          <tr><td class="td-title"><em>P</em>EEP</td></tr>
          <tr><td class="td-value">{{userInfo?.data.params.peep}}</td></tr>
          <tr><td class="td-detail"></td></tr>
        </table>
      </div>

      <!-- PIP -->
      <div>
        <table>
          <tr><td class="td-title"><em>P</em>IP</td></tr>
          <tr><td class="td-value">{{userInfo?.data.params.pip}}</td></tr>
          <tr><td class="td-detail"></td></tr>
        </table>
      </div>
    </div>

    <!--  ALARMA  -->
    <div class="alarm">
      <table>
        <tr><td class="td-title">ALARMA</td></tr>
        <tr><td class="td-value">PEEP</td></tr>
        <tr><td class="td-detail"></td></tr>
      </table>
    </div>
  </div>

  <!-- SECCIÓN DE GRÁFICA  -->
  <div class="graph-container">
    <div class="chart">
      <canvas height="35vh" width="100%" ngChartjs [datasets]="lineChartDataA"
              [options]="lineChartOptionsA" [legend]="lineChartLegend" [labels]="lineChartLabelsA" [chartType]="'line'" #ngChartjsA="ngChartjs">
      </canvas>
    </div>
  </div>

  <!--  SECCIÓN DE CONFIGURACIÓN -->
  <div class="user-container">
    <div class="main-buttons">
      <table>
        <tr>
          <td style="vertical-align: bottom"><a mat-raised-button class="help-btn">AYUDA</a></td>
          <td rowspan="2">
            <a mat-raised-button class="init-btn">INICIO/PARO</a>
          </td>
        <tr>
          <td style="vertical-align: top">
            <a mat-raised-button class="help-btn">CONFIGURAR</a>
          </td>
        </tr>
      </table>
    </div>


    <div class="param-manager">
      <table>
        <tr><td class="td-plus"><a (click)="addValue()" mat-raised-button class="help-btn">+</a></td>
          <td rowspan="4">
            <a (click)="onConfirm()" mat-raised-button class="init-btn">CONFIRMAR</a>
          </td>
        </tr>
        <tr (click)="onToggleParam()"><td class="td-param-name">{{paramName}}</td></tr>
        <tr (click)="onToggleParam()"><td class="td-param-value"><em>{{changedValue}}</em>  {{paramUnit}}</td></tr>
        <tr><td><a (click)="subValue()" mat-raised-button class="help-btn">-</a></td></tr>
      </table>
    </div>


    <div class="user-params">
      <table>
        <tr>
          <td><em>S</em>exo<br><h1>VALOR</h1></td>
          <td><em>E</em>statura<br><h1>VALOR</h1></td>
        </tr>
        <tr>
          <td><em>P</em>eso<br><h1>VALOR</h1></td>
          <td><em>P</em>erfil<br><h1>VALOR</h1></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<!--<div class="main-container">
  <div class="left-container">
    <div class="chart">
      <canvas height="30vh" width="90vw" ngChartjs [datasets]="lineChartDataA"
              [options]="lineChartOptionsA" [legend]="lineChartLegend" [labels]="lineChartLabelsA" [chartType]="'line'" #ngChartjsA="ngChartjs">
      </canvas>
    </div>

    <div class="chart">
      <canvas height="30vh" width="80vw" ngChartjs [datasets]="lineChartDataB"
              [options]="lineChartOptionsB" [legend]="lineChartLegend" [labels]="lineChartLabelsB" [chartType]="lineChartType" #ngChartjsB="ngChartjs">
      </canvas>
    </div>

    <div class="chart">
      <canvas height="30vh" width="80vw" ngChartjs [datasets]="lineChartDataC"
              [options]="lineChartOptionsC" [legend]="lineChartLegend" [labels]="lineChartLabelsC" [chartType]="lineChartType" #ngChartjsC="ngChartjs">
      </canvas>
    </div>

    <button *ngIf="!start" (click)="onInitPressed()" mat-raised-button class="init-btn">INICIAR</button>
    <button *ngIf="start" (click)="onStopPressed()" mat-raised-button color="warn" class="init-btn">DETENER</button>
  </div>
  <div class="center-container">
    <div class="gage-container">
      <ngx-gauge [type]="gaugeType"
                 [value]="gaugeInfo.chartsData.PT"
                 label="PRESION"
      min="0" max="40" thick="20" foregroundColor="rgba(50, 50, 50, 1)" [size]="250">
      </ngx-gauge>
    </div>
    <div class="gage-container">
      <ngx-gauge [type]="gaugeType"
                 [value]="gaugeInfo.chartsData.VT"
                 label="VOLUMEN"
                 min="0" max="1500" thick="20" foregroundColor="rgba(50, 50, 50, 1)" [size]="250">
      </ngx-gauge>
    </div>
    <div class="gage-container">
      <ngx-gauge [type]="gaugeType"
                 [value]="gaugeInfo.chartsData.FT"
                 label="FLUJO"
                 min="0" max="40" thick="20" foregroundColor="rgba(50, 50, 50, 1)" [size]="250">
      </ngx-gauge>
    </div>
  </div>
  <div class="right-container">
    <div class="mod-container">
      <h1>PIP</h1>
      <div>
        <button mat-raised-button (click)="onSubPIP()">
          -
        </button>
        <h2>{{PIP}}</h2>
        <button mat-raised-button (click)="onPlusPIP()">
          +
        </button>
      </div>
      <h3>cm H2O</h3>
    </div>

    <div class="mod-container">
      <h1>PEEP</h1>
      <div>

        <button mat-raised-button (click)="onSubPEEP()">
          -
        </button>
        <h2>{{PEEP}}</h2>
        <button mat-raised-button (click)="onPlusPEEP()">
          +
        </button>
      </div>
      <h3>cm H2O</h3>
    </div>

    <div class="mod-container">
      <h1>FRECUENCIA</h1>
      <div>

        <button mat-raised-button (click)="onSubFR()">
          -
        </button>
        <h2>{{FR}}</h2>

        <button mat-raised-button (click)="onPlusFR()">
          +
        </button>
      </div>
      <h3>rpm</h3>
    </div>

    <div class="mod-container">
      <h1>VOLUMEN</h1>
      <div>

        <button mat-raised-button (click)="onSubVolumen()">
          -
        </button>
        <h2>{{VL}}</h2>
        <button mat-raised-button (click)="onPlusVolumen()">
          +
        </button>
      </div>
      <h3>lpm</h3>
    </div>
  </div>
</div>
-->
