<div class="main-container">
  <div class="left-container">
    <div class="chart">
      <canvas height="30vh" width="90vw" ngChartjs [datasets]="lineChartDataA"
              [options]="lineChartOptionsA" [legend]="lineChartLegend" [labels]="lineChartLabelsA" [chartType]="'line'" #ngChartjsA="ngChartjs">
      </canvas>
    </div>

    <div class="chart">
      <canvas height="30vh" width="80vw" ngChartjs [datasets]="lineChartDataB"
              [options]="lineChartOptionsB" [legend]="lineChartLegend" [labels]="lineChartLabelsB" [chartType]="lineChartType" #ngChartjsB="ngChartjs">
      </canvas>
    </div>

    <div class="chart">
      <canvas height="30vh" width="80vw" ngChartjs [datasets]="lineChartDataC"
              [options]="lineChartOptionsC" [legend]="lineChartLegend" [labels]="lineChartLabelsC" [chartType]="lineChartType" #ngChartjsC="ngChartjs">
      </canvas>
    </div>
  </div>
  <div class="center-container">
    <div class="gage-container">
      <ngx-gauge [type]="gaugeType"
                 [value]="gaugeInfo.chartsData.PT"
                 label="PRESION"
      min="0" max="40" thick="20" foregroundColor="rgba(50, 50, 50, 1)">
      </ngx-gauge>
    </div>
    <div class="gage-container">
      <ngx-gauge [type]="gaugeType"
                 [value]="gaugeInfo.chartsData.VT"
                 label="VOLUMEN"
                 min="0" max="1500" thick="20" foregroundColor="rgba(50, 50, 50, 1)">
      </ngx-gauge>
    </div>
    <div class="gage-container">
      <ngx-gauge [type]="gaugeType"
                 [value]="gaugeInfo.chartsData.FT"
                 label="FLUJO"
                 min="0" max="40" thick="20" foregroundColor="rgba(50, 50, 50, 1)">
      </ngx-gauge>
    </div>
  </div>
  <div class="right-container">
    <div class="mod-container">
      <h1>PIP</h1>
      <div>
        <button mat-raised-button (click)="onSubPIP()">
          -
        </button>
        <h2>{{PIP}}</h2>
        <button mat-raised-button (click)="onPlusPIP()">
          +
        </button>
      </div>
      <h3>cm H2O</h3>
    </div>

    <div class="mod-container">
      <h1>PEEP</h1>
      <div>

        <button mat-raised-button (click)="onSubPEEP()">
          -
        </button>
        <h2>{{PEEP}}</h2>
        <button mat-raised-button (click)="onPlusPEEP()">
          +
        </button>
      </div>
      <h3>cm H2O</h3>
    </div>

    <div class="mod-container">
      <h1>FRECUENCIA</h1>
      <div>

        <button mat-raised-button (click)="onSubFR()">
          -
        </button>
        <h2>{{FR}}</h2>

        <button mat-raised-button (click)="onPlusFR()">
          +
        </button>
      </div>
      <h3>rpm</h3>
    </div>

    <div class="mod-container">
      <h1>VOLUMEN</h1>
      <div>

        <button mat-raised-button (click)="onSubVolumen()">
          -
        </button>
        <h2>{{VL}}</h2>
        <button mat-raised-button (click)="onPlusVolumen()">
          +
        </button>
      </div>
      <h3>lpm</h3>
    </div>
  </div>
</div>
