<div [ngClass]="{'fadeOut': finishTests, 'dark-bg': isDarkUI}" class="main-container animated fadeIn faster">
  <div [ngClass]="{'white-text': isDarkUI}" class="title">Iniciando Sistema</div>
  <div class="img-tidal"><img src="assets/tests/icon_tidal.svg"></div>
  <div class="bar-container">
    <mat-progress-bar
      class="ng-custom-bar"
      [color]="color"
      [mode]="mode"
      [value]="value"
      [bufferValue]="bufferValue">
    </mat-progress-bar>
  </div>
  <div class="tests-container">
    <table class="main-table">
      <tr *ngFor="let r of results; index as i;">
        <td>
          <table>
            <tr>
              <td>
                <div [ngClass]="{'success': r===1, 'error': r===2}" class="status-indicator">
                  <fa-icon *ngIf="r === 2" class="status-icon" [icon]="closeIcon"></fa-icon>
                  <fa-icon *ngIf="r === 1" class="status-icon" [icon]="checkIcon"></fa-icon>
                  <div *ngIf="r == 0" class="indicator">
                    <svg width="16px" height="12px">
                      <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                      <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                    </svg>
                  </div>
                </div>
              </td>
              <td [ngClass]="{'lilac-text': isDarkUI}" style="padding-left: 10px">
                <div>{{titles[i]}}</div>
              </td>
            </tr>


          </table>

        </td>
      </tr>
    </table>
  </div>
</div>
