<div class="main-container">
  <div id="top-bar">
    <div [ngClass]="{'dark-bg': isDarkUI}"  id="mode-active" class="l-white-background">C</div>
    <button mat-button class="close-btn"><img src="assets/dashboard/close-icon.svg"></button>
    <button *ngIf="isVentilating === 1" (click)="onPausePressed()" mat-button class="pause-btn"><fa-icon [icon]="pauseIcon"></fa-icon></button>
    <button *ngIf="isVentilating === 0" (click)="onPlayPressed()" mat-button class="pause-btn"><fa-icon [icon]="playIcon"></fa-icon></button>
    <button class="blue-bg lilac-text" id="meseta-btn" mat-button>P. Meseta</button>
    <div *ngIf="isAlarmActive" class="alarm-legend" [ngClass]="{'alarm-bg': isAlarmActive}"><fa-icon class="animated flash infinite slow" *ngIf="isAlarmActive" [icon]="alarmIcon"></fa-icon> <p *ngIf="isAlarmActive">Mensaje Alarma</p></div>
    <button *ngIf="isAlarmActive"  mat-button class="bell-container" disabled><img src="assets/dashboard/alarm-icon.svg"></button>
    <div [ngClass]="{'dark-bg lilac-text': isDarkUI}" *ngIf="!isAlarmActive" class="dashboard-time blue-color">
      <p>{{now | date: 'd/MM/yy H:mm'}}</p>
    </div>
  </div>
  <div class="middle-container">
    <div class="left-charts-container" [ngClass]="{'dark-bg': isDarkUI}">
      <canvas height="93px" width="612px" ngChartjs [datasets]="pressureData"
              [options]="chartOptionsPressure" [colors]="['']" [legend]="lineChartLegend" [labels]="pressureLbls" [chartType]="'line'" #ngChartjsPresion="ngChartjs">
      </canvas>
      <canvas height="93px" width="612px" ngChartjs [datasets]="volumeData"
              [options]="chartOptionsVolume" [colors]="['']" [legend]="lineChartLegend" [labels]="volumeLbls" [chartType]="'line'" #ngChartjsVolume="ngChartjs">
      </canvas>
      <canvas height="93px" width="612px" ngChartjs [datasets]="flowData"
              [options]="chartOptionsFlow" [colors]="['']" [legend]="lineChartLegend" [labels]="flowLbls" [chartType]="'line'" #ngChartjsFlow="ngChartjs">
      </canvas>
    </div>
    <div class="right-summary-container l-white-background">
      <div><button mat-raised-button class="lilac-bg prog-btn">Configurar</button></div>
      <div><button mat-raised-button class="lilac-bg prog-btn">Alertas</button></div>
      <div><button mat-raised-button class="lilac-bg prog-btn">Ayuda</button></div>

      <h2>Paciente</h2>
      <div id="summary-info">
        Sexo: <strong>Masculino</strong><br>
        Altura: <strong>1.70 m.</strong><br>
        Peso: <strong>75 Kg.</strong><br>
        Perfil: <strong>Adulto</strong>
      </div>
    </div>
  </div>

  <div class="params-container l-white-background">
    <table>
      <tr>
        <td><button (click)="openKeyboard(1, paramsValues[1],'Frecuencia',1, 100, 'rpm')" mat-raised-button class="param-btn blue-bg lilac-text">Frecuencia<br><em>{{paramsValues[1]}}</em> rpm</button></td>
        <td><button (click)="openKeyboard(0, paramsValues[0],'Tiempo de inspiración',0, 2.5, 'segundos')" mat-raised-button class="param-btn blue-bg lilac-text">TI<br><em>{{paramsValues[0] | number:'1.1-2'}}</em> segs</button></td>
        <td><button (click)="openKeyboard(2, paramsValues[2],'Volumen',50, 1300, 'mL')" mat-raised-button class="param-btn blue-bg lilac-text">Volumen<br><em>{{paramsValues[2]}}</em> mL</button></td>
        <td><button (click)="openKeyboard(3, paramsValues[3],'Peak Inspiratory Pressure',10, 40, 'cmH2O')" mat-raised-button class="param-btn blue-bg lilac-text">PIP<br><em>{{paramsValues[3]}}</em> cmH2O</button></td>
        <!--<td><button mat-raised-button class="param-btn" disabled>PEEP<br><em></em></button></td>-->
      </tr>
    </table>
  </div>


  <!-- -->
  <div id="pressure-lbl">Presión<br><em>{{userInfo?.data.chartsData.paw}} cmH2O</em></div>
  <div id="volume-lbl">Volumen<br><em>{{userInfo?.data.chartsData.vol}} mL</em></div>
  <div id="flow-lbl">Flujo<br><em>{{userInfo?.data.chartsData.vol}} l/min</em></div>
  <div id="ppeak-lbl"><em>PPeak:</em> {{userInfo?.data.params.ppeak}} cmH2O</div>
  <div id="vpeak-lbl"><em>VPeak:</em> {{userInfo?.data.params.ppeak}} mL</div>
  <div id="fpeak-lbl"><em>FPeak:</em> {{userInfo?.data.params.ppeak}} l/min</div>

  <div *ngIf="isKeyboardOpen" class="keyboard">
    <div class="kb-container" [ngClass]="{'dark-bg': isDarkUI}">
      <div class="kb-param-desc" [ngClass]="{'lilac-text': isDarkUI}">{{keyboardDescription}}</div>
      <div class="value-changer">
        <div [ngClass]="{'lilac-text lilac-bottom-border': isDarkUI}" id="value">{{keyboardValue}}</div>
        <div [ngClass]="{'lilac-text': isDarkUI}" id="unit">{{keyboardUnit}}</div>
      </div>
      <div id="error-lbl">&nbsp;{{keyboardError}}</div>
      <div>
        <table>
          <tr>
            <td>
              <button (click)="onDigitPressed('1')" mat-raised-button class="digit lilac-bg">1</button>
            </td>
            <td>
              <button (click)="onDigitPressed('2')" mat-raised-button class="digit lilac-bg">2</button>
            </td>
            <td>
              <button (click)="onDigitPressed('3')" mat-raised-button class="digit lilac-bg">3</button>
            </td>
            <td>
              <button (click)="onDigitPressed('-')" mat-raised-button class="digit del-digit" ><img src="assets/dashboard/del-icon.svg"></button>
            </td>
          </tr>
          <tr>
            <td>
              <button (click)="onDigitPressed('4')" mat-raised-button class="digit lilac-bg">4</button>
            </td>
            <td>
              <button (click)="onDigitPressed('5')" mat-raised-button class="digit lilac-bg">5</button>
            </td>
            <td>
              <button (click)="onDigitPressed('6')" mat-raised-button class="digit lilac-bg">6</button>
            </td>
            <td>
              <button (click)="closeKeyboard(false)" mat-button class="digit cancel-digit ">Cancelar</button>
            </td>
          </tr>
          <tr>
            <td>
              <button (click)="onDigitPressed('7')" mat-raised-button class="digit lilac-bg">7</button>
            </td>
            <td>
              <button (click)="onDigitPressed('8')" mat-raised-button class="digit lilac-bg">8</button>
            </td>
            <td>
              <button (click)="onDigitPressed('9')" mat-raised-button class="digit lilac-bg">9</button>
            </td>
            <td rowspan="2">
              <button (click)="onChangePressed()" mat-raised-button class="digit change-digit blue-bg white-text">Cambiar</button>
            </td>
          </tr>
          <tr>
            <td>
              <button (click)="onDigitPressed('.')" mat-raised-button class="digit lilac-bg">.</button>
            </td>
            <td>
              <button (click)="onDigitPressed('0')" mat-raised-button class="digit lilac-bg">0</button>
            </td>
            <td>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>


  <div *ngIf="isChangeConfirmationOpen" class="keyboard">
    <div class="confirm-change" [ngClass]="{'dark-bg': isDarkUI}">
      <div class="kb-param-desc" [ngClass]="{'lilac-text': isDarkUI}"><strong>{{keyboardDescription}}</strong><br>será cambiado a:</div>
      <div class="value-changer">
        <div [ngClass]="{'lilac-text lilac-bottom-border': isDarkUI}" id="value">{{keyboardValue}}</div>
        <div [ngClass]="{'lilac-text': isDarkUI}" id="unit">{{keyboardUnit}}</div>
      </div>
      <div class="confirm-change-buttons-container">
        <button (click)="closeConfirm()" mat-raised-button class="confirm-change-btn white-bg lightgrey-text">Cancelar</button>
        <button (click)="onConfirmChange()" mat-raised-button class="confirm-change-btn yellow-bg">Confirmar</button>
      </div>
    </div>
  </div>

  <div *ngIf="isChangeVentilatinigPauseConfirm" class="keyboard">
    <div class="confirm-change" [ngClass]="{'dark-bg': isDarkUI}">
      <div class="kb-param-desc" [ngClass]="{'lilac-text': isDarkUI}">El sistema <strong>pausará</strong> la operación y el paciente dejará de ser ventilado.<br><br>
      <strong>¿Está seguro que quiere continuar?</strong><br><br><br></div>
      <div class="confirm-change-buttons-container">
        <button (click)="closeConfirm()" mat-raised-button class="confirm-change-btn white-bg lightgrey-text">Cancelar</button>
        <button (click)="onVentilatingEvent(0)" mat-raised-button class="confirm-change-btn yellow-bg">Confirmar</button>
      </div>
    </div>
  </div>

  <div *ngIf="isChangeVentilatinigPlayConfirm" class="keyboard">
    <div class="confirm-change" [ngClass]="{'dark-bg': isDarkUI}">
      <div class="kb-param-desc" [ngClass]="{'lilac-text': isDarkUI}">El sistema <strong>iniciará</strong> la operación y el paciente sera ventilado.<br><br>
        <strong>¿Está seguro que quiere continuar?</strong><br><br><br></div>
      <div class="confirm-change-buttons-container">
        <button (click)="closeConfirm()" mat-raised-button class="confirm-change-btn white-bg lightgrey-text">Cancelar</button>
        <button (click)="onVentilatingEvent(1)" mat-raised-button class="confirm-change-btn yellow-bg">Confirmar</button>
      </div>
    </div>
  </div>



</div>
